* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}


@font-face {
  font-family: "Young-serif";
  src: url("../fontes/young-serif/YoungSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Outfit";
  src: url("../fontes/outfit/static/Outfit-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Outfit-regular";
  src: url("../fontes/outfit/static/Outfit-Regular.ttf") format("truetype");
}

body {
  background-color: hsl(30, 54%, 90%);
  padding: 50px;
}

main {
  background-color: hsl(0, 0%, 100%);
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  list-style-position: inside;
  line-height: 2.1;
  font-family: "Outfit-regular";
  font-weight: normal;
  font-size: 11px;
}

img {
  width: 100%;
  border-radius: 8px;
}

.apresentacao h1 {
  padding: 10px 0;
  font-family: "Young-serif", sans-serif;
  font-weight: normal;
  font-size: 25px;
}

section.apresentacao {
  text-align: justify;
  padding: 30px 0;
}


.tempo-de-preparo h1 {
  color: hsl(332, 51%, 32%);
  font-family: "Outfit";
  font-weight: bolder;
  font-size: 16px;
  padding: 0;
}

section.tempo-de-preparo {
  background-color: hsl(330, 100%, 98%);
  border-radius: 8px;
  line-height: 2.1;
  border: 50px;
  list-style-position: inside;
  color: hsl(24, 5%, 18%);
  padding: 10px 30px;
  box-sizing: border-box;
  border: 10;
  font-size: 10px;
}

hr {
  margin: 25px;
}


section {
  padding: 1px;
}

h1 {
  font-family: "Young-serif", sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: hsl(14, 45%, 36%);
}
