* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}


@font-face {
  font-family: "Young-serif";
  src: url("../fontes/young-serif/YoungSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Outfit";
  src: url("../fontes/outfit/static/Outfit-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Outfit-regular";
  src: url("../fontes/outfit/static/Outfit-Regular.ttf") format("truetype");
}

body {
  background-color: hsl(30, 54%, 90%);
  padding: 50px;
}

main {
  background-color: hsl(0, 0%, 100%);
  width: 485px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  list-style-position: inside;
  line-height: 2.1;
  font-family: "Outfit-regular";
  font-weight: normal;
  font-size: 11px;
}

img {
  width: 100%;
  border-radius: 6px;
  }

.apresentacao h1 {
  margin: 0px;
  border: 10px;
  font-family: "Young-serif", sans-serif;
  font-weight: normal;
  font-size: 25px;
  color: hsl(24, 5%, 18%);
  padding-top: 0px;
}

section.apresentacao {
  text-align: justify;
  padding: 12px 0;
}


.tempo-de-preparo h1 {
  color: hsl(332, 51%, 32%);
  font-family: "Outfit";
  font-weight: bolder;
  font-size: 16px;
  padding: 0;
}

section.tempo-de-preparo {
  background-color: hsl(330, 100%, 98%);
  border-radius: 8px;
  line-height: 2.1;
  border: 50px;
  list-style-position: inside;
  color: hsl(24, 5%, 18%);
  padding: 10px 30px;
  box-sizing: border-box;
  border: 20px;
  font-size: 10px;
}


section {
  padding-left: 10px;
}

h1 {
  font-family: "Young-serif", sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: hsl(14, 45%, 36%);
}

.nutrition {
  width: 100%;
  border-collapse: collapse;
  /* junta bordas */
}

.nutrition td {
  padding: 12px 0; /* espaço interno (em cima e embaixo) */
  border-bottom: 1px solid #ddd; /* linha cinza separadora */
}


.nutrition td strong {
  color: #7a2c1f;; /* cor marrom avermelhada */
}

.linha-divisoria {
  border: none;
  border-top: 1px solid #ddd; /* linha cinza */
  margin: 0px 0; /* espaço acima e abaixo da linha */
}

